.big {
  width: 75vw;
  height: 30vh;
  padding: 20px;
  margin-bottom: 100px;
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  text-decoration: none;
  background: -moz-linear-gradient(-45deg, rgba(26,26,26,0.7) 0%, rgba(26,26,26,0.7) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(26,26,26,0.7) 0%,rgba(26,26,26,0.7) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(26,26,26,0.7) 0%,rgba(26,26,26,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc1a1a1a', endColorstr='#cc1a1a1a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  background-size: cover;
}

.small {
  width: 35vw;
  height: 30vh;
  padding: 20px;
  margin-bottom: 100px;
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  text-decoration: none;
  background: -moz-linear-gradient(-45deg, rgba(26,26,26,0.7) 0%, rgba(26,26,26,0.7) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(26,26,26,0.7) 0%,rgba(26,26,26,0.7) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(26,26,26,0.7) 0%,rgba(26,26,26,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc1a1a1a', endColorstr='#cc1a1a1a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  background-size: cover;
}

.big:hover {
  border: 3px solid #F53D49;
}

.small:hover {
  border: 3px solid #F53D49;
}

.couponTitle {
  letter-spacing: 2px;
}

.couponDescription {
  text-align: center;
}

.cornerBox {
  border-top: 25px solid transparent;
  border-left: 25px solid transparent;
  border-right: 25px solid #F53D49;
  border-bottom: 25px solid #F53D49;
  position: absolute;
  bottom: 0;
  right: 0;
}
